<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    #customers tr:hover {background-color: #ddd;}
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
    </style>

<div class="home-page">

 <span><div style="text-align:right"><span><a routerLink="/profile">  profile </a> </span><i class="fas fa-user"></i></div> 
 <div style="text-align:right"><span><a routerLink="/home">all messages</a>  </span><i class="fas fa-envelope"></i></div> </span>
  <div class="form">
    
    <h1>liked Messages:</h1>
    <table id="customers"width ="100%" border="1" style="border-collapse:collapse">
      <th>messages </th>
    <tr *ngFor="let i of Messages">
      <td style="text-align:left"> {{i.m}} </td>
    </tr>
  </table>
  
  </div>
  <div style="text-align:right"> <a routerLink="/sign"><button > logout</button></a></div> 
</div>
